/* Normalize * */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important; /* saca la barra de los link */
    font-family: 'Montserrat', sans-serif;

}

@keyframes entrada-por-la-derecha-escalado {
    0% {
        transform: translateX(-200px);
        scale: 0.1;
    }
    100%{
        transform: translateX(0px);
        scale: 1;
    }
}

@keyframes entrada-por-la-derecha {
    0%{
        transform: translateX(-200px) ;
    }
    100%{
        transform: translateX(0px);
    }
}

.imagenLogo{
    animation-name: entrada-por-la-derecha-escalado;
    animation-duration: 3s;
}

.encabezado {
    background-color: #fd611a;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0.1px 7px rgb(116, 115, 115);
}

.encabezadoImg320 {
    display: none;
}

.barra{
    display: flex;
    justify-content: center; /* centra en eje x */
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;
}

.busquedaContenedor{
    position: relative;
}
.busquedaContenedor i{
    position: absolute;
    top: 14px;
    left: 260px;
    color: rgb(80, 80, 80);
    font-size: 1.1rem;
}
.buscador {
    padding: 14px 10.5px;
    padding-left: 30px;
    padding-right: 50px;
    border-radius: 7px;
    border:none;
    border: 1px rgb(224, 224,224) solid;
    width: 300px;
    
} 

.iniciarSesion button{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #fd611a;
    padding: 8px 20px;
    border: none;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 1px 2px rgb(116, 115, 115);
}
.iniciarSesion i{
    font-size: 1.2rem;
    
}

.iniciarSesion button:hover {
    cursor: pointer;
}

.irAlCarrito {
    font-size: 1.8rem;
    position: relative;
}
.irAlCarrito span{
    background-color: #f44336;
    width: 18px;
    height: 17px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 800;
    line-height: 0px;
    color: white;
    display: flex;
    justify-content: center; /* centrar eje x */
    align-items: center; /* centrar eje y */
    position: absolute; 
    left: 20px;
}

.navegador{
    background-color: #fd611a;
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 110px;
}
.navegador i{
    display: none;
}
.navegador a{
    color: black;
}
.nav-links:hover{
    transition: all 0.3s ease;
    color:  white;
}

.sesionCarrito{
    display: flex;
    gap: 30px;
}


.seccionCarrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.carousel {
    width: 80vw;
} 

.seccionProductos{
    margin: 3vh 10vw;
}

.novedades{
    border-bottom: #4e4d4d 2px solid;
    color: #4e4d4d;
    font-size: 26px;
    
}

.cartasContenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.carta{
    box-shadow: 0px 2px 5px rgb(110, 110, 110);
    padding: 16px;
    margin-top: 15px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.carta img{
    width: 120px;
}
.carta h3{
    text-align: center;
    font-size: 0.8rem;
}
.carta p{
    color: #4675b9;
}



.marcasContenedor {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}



footer button {
    background-color: #fd611a;
    color: white;
    border:none;
    border: 1px white solid;
    border-radius: 7px;
}
footer button:hover{
    background-color: white;
    color: #fd611a;
}

.footerContenedor{
    display: flex;
    justify-content: space-between;
    background-color: #fd611a;
    color: white;
    text-align: center;
}

.footerContenedor div{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.footerContenedor div:not(.redesSeguinos, .iconosRedesFooter){
    border-left: white 1px solid;
}

.imagenAfipContenedor img{
    height: 90px;
}


.footerAyuda h4 {
    font-size: 16px;
}

.footerAyuda h6 {
    font-size: 15px;
    font-weight: 100;
}



.botonFooterContactanos{
    padding: 5px;
    font-size: 13px;
}


.botonFooterTrabajar{
    margin: 20px;
    padding: 5px 25px;
    font-weight: 400;
    font-size: 15px;
}


.footerTrabajar p{
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-decoration: underline !important;
}
.footerTrabajar p:hover{
    text-decoration: none !important;
}


.redesSeguinos {
    margin-bottom: -45px;
}

.iconosRedesFooter{
    display: flex;
    flex-direction: row !important;
    gap: 10px;
    
}
.iconosRedesFooter i{
    font-size: 40px;
}


.derechosReservadosContenedor{
    background-color: #EEEEEE;
    text-align: center;
    font-size: 12px;
    color: #333333;
    padding: 7px 0px;
}




@media screen and (max-width: 320px) {
/* iconos un par nomas,  */
    .encabezadoImgFull{
        display: none;
    }
    .encabezadoImg320 {
        display: block;
    }

    .imagenLogo{
        animation-name: entrada-por-la-derecha;
        animation-duration: 3s;
    }


    .barra{
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        gap: 10px;
    }

    .navegador{
        padding: 8px;
        justify-content: left;
        gap: 110px;
    }
    .navegador a{
        display: none;
    }
    .navegador i{
        display: block;
        color: white;
        font-size: 24px;
    }

    .carousel {
        width: 100vw;
    } 

    .novedades{
        font-size: 22px;
    }


    .footerContenedor{
        flex-wrap: wrap;
    }
    .footerContenedor div{
        width: 50vw;
    }

    .imagenAfipContenedor img{
        height: 120px;
    }

    .redesSeguinos h4{
        font-size: 15px;
        padding-bottom: 15px;
    }
    .iconosRedesFooter{
        flex-wrap: wrap;
    }
    .iconosRedesFooter i{
        
        font-size: 37px;
    }
    

}


